.container{
    height: 60px;
    width: 250px;
    border-radius: 25px;
    border: 1.5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.container .titleButton{
    color: red;
    font-size: 16px;
    margin: -2px 0px 0px 5px;
}

.container .line{
    width: 200px;
    height: 3px;
    background-color: red;
}

.container .iconText{
    display: flex;
    flex-direction: row;
}

.container .details {
    display: none;
    background-color: #FF7F00;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 96px;
}

.container:hover .details {
    display: block;
}

@media only screen and (max-device-width: 720px){
    .container{
        display: none;
    }
}

