.container{
    padding: 0 15px;
    width: 100%;
    height: 125px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.buttonQtd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
    margin-right: 30px;
}

.imgProduct{
    border: 2px solid black;
    border-radius: 50%;
}

.name{
    width: 180px;
    font-size: 20px;
    font-weight: 900;
    margin: 5px 0px;
    cursor: pointer;
}

.value{
    width: 95px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FF0000;
    margin: 5px 5px;
}

.containerData{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}

@media only screen and (max-device-width: 795px){
  .buttonQtd{
    margin-right: 0;
    gap: 0;
  }
}

/*  DAQUI PARA BAIXO DEVERA SER PARA CELULARES */

@media only screen and (max-device-width: 720px){
    .container{
        height: 150px;
    }

    .containerData{
        gap: 0;
        flex-direction: column;
    }

    .name{
        width: 200px;
    }
}

@media only screen and (max-device-width: 360px){
    .container{
        height: 150px;
        padding: 0;
    }

    .value, .name{
        font-size: 18px;
    }
    
    .imgProduct{
        height: 90px;
    }

    
}


