.containerMenuButton {
    background-color: red;
    border: 6px solid #FF9900;
    transform: rotate(90deg);
    width: 120px;
    left: -38px;
    top: 400px;
    display: flex;
    align-items: center;
    position: fixed;
    height: 60px;
    justify-content: center;
    border-radius: 10px 10px 1px 0px;
    box-sizing: border-box;
}

.titleMenuButton{
    font-size: 20px;
}

@media only screen and (min-width: 721px){
   .containerMenuButton {
        display: none;
   }
   
}